<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bookstore</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.mengzhuangzhuang.servlat.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>server</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>dbname</param-name>
    <param-value>dh</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>pwd</param-name>
    <param-value>123456</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.mengzhuangzhuang.servlat.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.mengzhuangzhuang.servlat.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DestroyServlet</display-name>
    <servlet-name>DestroyServlet</servlet-name>
    <servlet-class>com.mengzhuangzhuang.servlat.DestroyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DestroyServlet</servlet-name>
    <url-pattern>/DestroyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.mengzhuangzhuang.servlat.admin.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/admin/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.mengzhuangzhuang.servlat.admin.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/admin/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDao</display-name>
    <servlet-name>BookDao</servlet-name>
    <servlet-class>com.mengzhuangzhuang.db.BookDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDao</servlet-name>
    <url-pattern>/BookDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookServlet</display-name>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>com.mengzhuangzhuang.servlat.admin.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/admin/AddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookServlet</display-name>
    <servlet-name>SearchBookServlet</servlet-name>
    <servlet-class>com.mengzhuangzhuang.servlat.SearchBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookServlet</servlet-name>
    <url-pattern>/SearchBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>aaa</display-name>
    <servlet-name>aaa</servlet-name>
    <servlet-class>com.mengzhuangzhuang.db.aaa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aaa</servlet-name>
    <url-pattern>/aaa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyServlet</display-name>
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>com.mengzhuangzhuang.servlat.BuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/BuyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookAdminServlet</display-name>
    <servlet-name>SearchBookAdminServlet</servlet-name>
    <servlet-class>com.mengzhuangzhuang.servlat.admin.SearchBookAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookAdminServlet</servlet-name>
    <url-pattern>/admin/SearchBookAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchUserServlet</display-name>
    <servlet-name>SearchUserServlet</servlet-name>
    <servlet-class>com.mengzhuangzhuang.servlat.admin.SearchUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUserServlet</servlet-name>
    <url-pattern>/admin/SearchUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelUserServlet</display-name>
    <servlet-name>DelUserServlet</servlet-name>
    <servlet-class>com.mengzhuangzhuang.servlat.admin.DelUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelUserServlet</servlet-name>
    <url-pattern>/DelUserServlet</url-pattern>
  </servlet-mapping>
</web-app>